*{
    font-family: Calibri;
}
.titulo{
    font-size: 11;
    text-align: center;  
    font-weight: bold;
}
.textofecha{
    font-size: 9;
    font-weight: bold;
    text-align: center;    
}

.fecha{
    font-size: 9;    
    text-align: center;
}
.procedimiento{
    font-size: 9;
    margin-top: 15%;
}
.tabla{
    border: 1;
    border-width: 0.1;
    border-collapse: collapse;
    border-color: #2E2E2E ;
    width: 100%;
}