#header1{
    font-family: Calibri;
    font-size: 11;
    text-align: center;
}

#header2{
    font-family: Calibri;
    font-size: 12;
    font-weight: bold;
    text-align: center;
}

#fecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

#hora{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

#resMuestras{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;    
}

#tableCabecera{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

#tableContent{
    font-family: Calibri;
    font-size: 9;
    text-align: center;
}

#analizo{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

#superviso{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

#nombreAnalizo{
    font-family: Calibri;
    font-size: 9;    
}

#nombreSuperviso{
    font-family: Calibri;
    font-size: 9;    
}




#prueba1{    
    padding: 0 1rem;
    margin: 1rem;
}

#prueba2{        
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}