#header1{
    font-family: Calibri;
    font-size: 11;
    text-align: center;    
}

#header2{
    font-family: Calibri;
    font-size: 12;
    font-weight: bold;
    text-align: center;
}

#fecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-align: left;    
}

#hora{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-indent: 5em;
}

#resMuestras{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;    
}

#tableCabecera{
    text-align: center;
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

#tableContent{
    font-family: Calibri;
    font-size: 9;
    text-align: center;
}

#analizo{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

#superviso{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

#nombreAnalizo{
    font-family: Calibri;
    font-size: 9;    
}

#nombreSuperviso{
    font-family: Calibri;
    font-size: 9;    
}

#contenedorTabla{    
    max-height: 100px;    
}

#tablaDatos{      
    height: 100%;
}

#pie1{    
    padding: 0 1rem;
    margin: 1rem;
}

#pie2{        
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contenedorPadre{    
    width: 100%;
    height: 30px;
    text-align: center;    
}

.contenedorHijo1{        
    width: 33.3%;
    height: 30px;
    float: left;   
}

.cabeceraStdMuestra{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
}

.bodyStdMuestra{
    font-family: Calibri;
    font-size: 9;
}

#revisiones{
    font-size: 9;
    text-align: right;
}