#curvaHeader1{
    font-family: Calibri;
    font-size: 11;
    text-align: center;  
    background-color: aqua;  
}

#curvaHeader2{
    font-family: Calibri;
    font-size: 12;
    font-weight: bold;
    text-align: center;
}

#curvaFecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-align: left;    
}

#curvaHora{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-indent: 5em;
}

#curvaProcedimiento{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;    
}


#revisiones{
    font-size: 9;
    text-align: right;
}

#contenidoCurva{
    font-family: Calibri;
    font-size: 9;  
}