#contenedorIzq{    
    float: left;    
    position: absolute;    
    width: 61.5%;
    overflow-y: hidden;
    overflow-x: visible;
}

#contenedorDer{
    float: right;
    height: 280px;
    overflow-y: visible;
    overflow-x: hidden;
}

#tableFormulasGlobalesValores{
    position: relative;
    left: 3px;
    border-collapse: collapse;
    border-left: #DBDBDB 2px solid;
}

#modal{
    display: block !important; /* I added this to see the modal, you don't need this */    
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body #equipo{
    height: 220px;
    overflow-y: auto;    
}

#prueba{
    background-color: black;
}