#header1{
    font-family: Calibri;
    font-size: 11;
    text-align: center;  
    font-weight: bold;  
}

#curvaHeader1{
    font-family: Calibri;
    font-size: 11;
    text-align: center;      
}

#curvaHeader2{
    font-family: Calibri;
    font-size: 12;
    font-weight: bold;
    text-align: center;
}

#curvaFecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-align: left;    
    background-color: aqua;
}

#curvaHora{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-indent: 5em;
}

.subFechaHora{
    font-family: Calibri;
    font-size: 9;
}


#curvaProcedimiento{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
    margin: 0;
}

#revisiones{
    font-size: 9;
    text-align: right;
}

#contenidoCurva{
    font-family: Calibri;
    font-size: 8.5;    
}

#contenidoCurva p{
    margin: 0;
}

.contenedorPadre12{    
    text-align: center; 
    width: 100%;    
    /*background-color: aqua;*/
}

.contenedorHijo12{
    float: left;
    width: 50%;    
    /*background-color: orange;*/ 
}

.cabeceraStdMuestra{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
}

.bodyStdMuestra{
    font-family: Calibri;
    font-size: 9;
}

.fecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-align: center;
}