#header1{
    font-family: Calibri;
    font-size: 11;
    text-align: center;  
    font-weight: bold;
}

#curvaProcedimiento{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
    margin: 0;
}

#revisiones{
    font-size: 9;
    text-align: right;
}

.contenidoBody{
    font-family: Calibri;
    font-size: 11;
    text-align: center;
}

#contenidoCurva{
    font-family: Calibri;
    font-size: 8.5;       
}

#contenidoCurva p{
    margin: 0;
}

.contenedorPadre12{    
    text-align: center; 
    width: 100%;    
    /*background-color: aqua;*/
}

.contenedorHijo12{
    float: left;
    width: 50%;    
    /*background-color: orange;*/ 
}

.cabeceraStdMuestra{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
}

.bodyStdMuestra{
    font-family: Calibri;
    font-size: 9;
}

.textofecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-align: center;    
}

.fecha{
    font-family: Calibri;
    font-size: 9;    
    text-align: center;
}

/*Tablas*/
#tablaDatos{
    width: 100%;
}

.nombreHeader{
    font-family: Calibri;
    font-size: 12;
    text-align: center;
}

.nombreHeaderBold{
    font-weight: bold;
}

#contenedorTabla{    
    max-height: 100px;    
}

.tableCabecera{
    text-align: center;
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

.tableContent{
    font-family: Calibri;
    font-size: 9;
    text-align: center;
}

.bordesTabla{
    border: 1;
    border-width: 0.1;
    border-collapse: collapse;
    border-color: #2E2E2E ;
    /* border-color: #ddd; */
}

/* .anchoColumna{
    width: 12.5%;
} */