/*------------Inputs--------------*/
#texto {
    text-align: center;
    font-weight: bold;    
}

#folio {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #38C81B;
}

#descarga {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #38C81B;
}

#cliente {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #38C81B;
}

#observaciones {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #38C81B;    
}

#empresa {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #38C81B;
}

#hora_recepcion {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #fb1e1e;
}

#hora_recepcion1 {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #fb1e1e;
}

#hora_entrada {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #fb1e1e;
}
/*--------------------------------*/
#parrafoDatos{
    font-size: 250%;
    text-indent: 25px;
}

.datos{
    font-size: 120%;;
}

#mensajeBusqueda {
    font-size: 20px;
    font-weight: bold;
}

label {    
    font-size: 130%;
}

.datosGenerales {
    text-indent: 60px;    
}

.fechas {
    text-indent: 60px;
}

.fechaHidden {
    text-indent: 60px;
    background-color: transparent;
}

#f_fin {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #fb1e1e;
}

#f_con {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #4F62FF ;
}

#procedencia {
    border: 0;    
    font-size: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #4F62FF;
}