*{
    margin: 0;
    padding: 0;
}
body{
    /* margin-top: 30px; */
    font-family: "Times New Roman";
    font-size: 11px; 
   
}
.verdeClaro{
    color: #00a987; 
}
p{
    font-size: 11px;;
} 
.bordeTabla{
    padding: 5px;
    margin-top: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

/* @page{margin: 0.2in 0.5in 0.2in 0.5in;} */
