*{
    margin: 0;
    padding: 0;
}
body{
    /* margin-top: 30px; */
    font-family: "Times New Roman";
    
    font-size: 11px; 
}
#pag{
    background-image: url("https://dev.sistemaacama.com.mx//storage/HojaMembretada.png");
    background-size: 200%;
    background-position: 50px;
    z-index: -1000;
    /* background-position: right;
    background-position: 150%; */
    /* background-position: right; */
    background-repeat: no-repeat;
}
.verdeClaro{
    color: #00a987; 
}
p{
    font-size: 11px;;
} 
.bordeTabla{
    padding: 5px;
    margin-top: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
html {
	margin: 50pt 15pt;
}
/* @page{margin: 0.2in 0.5in 0.2in 0.5in;} */
