
  
  .as {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    padding: 25px 0;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    margin-left: 15px;
  }
  
  
  .as span {
    color: #ffffff;
    letter-spacing: 8px;
    position: relative;
    z-index: 1;
  }

  .as .liquid {
    width: 200px;
    height: 200px;
    background: rgb(24, 211, 149);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -80px;
    left: 0;
    transition: 0.5s;
  }
  
  .as .liquid:before,
  .as .liquid:after {
    content: "";
    width: 200%;
    height: 200%;
    background: rgb(7, 95, 54);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  .as .liquid:before {
    border-radius: 45%;
    background: rgb(2, 97, 73);
    animation: shake 5s linear infinite;
  }
  .as .liquid:after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 5);
    animation: shake 10s linear infinite;
  }
  
  @keyframes shake {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  
  .as:hover .liquid {
    top: -120px;
  }
  