/* *{
    margin: 0;
    padding: 0;
} */
/* body{ */
    /* margin-top: 30px; */
    /* font-family: "Times New Roman";
    font-size: 11px; 
   
}
.verdeClaro{
    color: #00a987; 
}
p{
    font-size: 11px;;
} 
.bordeTabla{
    padding: 5px;
    margin-top: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.negrita{
    font-weight: bold;
}

.justifyCenter{
    text-align: center;
}

.justifyRight{
    text-align: right;
}

.colorBorde{
    border: 1;
    border-width: 0.1px;
    border-style: solid;
    border-color: black ;
}

.fontSize7{
    font-size: 7px;
}

.anchoColumna{
    width: 25%;
}

.bordesTabla{    
    border: 1;
    border-style: solid;
    border-color: black ;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;    
}

.bordesTablaSupInfDer{    
    border: 1;
    border-style: solid;
    border-color: black ;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordesTablaInfIzqDer{    
    border: 1;
    border-style: solid;
    border-color: black ;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;    
}

.bordesTablaInfDer{    
    border: 1;
    border-style: solid;
    border-color: black ;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordesTablaInfIzq{    
    border: 1;
    border-style: solid;
    border-color: black ;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0.1px;    
}

.bordesTablaInf{    
    border: 1;
    border-style: solid;
    border-color: black ;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0px;    
} */

/* @page{margin: 0.2in 0.5in 0.2in 0.5in;} */

/*-----------------------------------------------*/
#header1{
    font-family: Calibri;
    font-size: 14;
    text-align: center;  
    font-weight: bold;    
}

.fontCalibri{
    font-family: Calibri;
}

#curvaProcedimiento{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
    margin: 0;
}

.revisiones{
    font-size: 9;
    text-align: right;
}

#contenidoCurva{
    font-family: Calibri;
    font-size: 8.5;    
}

.contenidoBody{
    text-align: center;
    font-family: Calibri;
    /* font-size: 8.5;     */
}

#contenidoCurva p{
    margin: 0;
}

.contenedorPadre12{    
    text-align: center; 
    width: 100%;    
    /*background-color: aqua;*/
}

.contenedorHijo12{
    float: left;
    width: 49.877%;    
    /*background-color: orange;*/ 
}

.contenedorHijo121{
    float: left;
    width: 39.877%;    
    /*background-color: orange;*/ 
}

.contenedorHijo122{
    float: left;
    width: 59.877%;    
    /*background-color: orange;*/ 
}

.contenedorHijo131{
    float: left;
    width: 39.877%;    
    /*background-color: orange;*/ 
}

.contenedorHijo132{
    float: left;
    margin-left: 8%;
    width: 49.877%;    
    /*background-color: orange;*/ 
}

.floatLeft{
    float: left;
    width: 25%;    
}

.cabeceraStdMuestra{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
}

.bodyStdMuestra{
    font-family: Calibri;
    font-size: 9;
}

.textofecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-align: center;    
}

.fecha{
    font-family: Calibri;
    font-size: 9;    
    text-align: center;
}

/*Tablas*/
.nombreHeader{
    font-family: Calibri;
    /* font-size: 12; */
    /* text-align: center; */
}

#contenedorTabla{    
    max-height: 100px;
}

.tableCabecera{
    text-align: center;
    font-family: Calibri;          
}

.tableContent{
    font-family: Calibri;
    font-size: 9;
    /* text-align: center; */
}

.anchoColumna{
    width: 12.5%;
}

.anchoColumna25{
    width: 25%;
}

.anchoColumna7{
    width: 7%;    
}

.anchoColumna82{
    width: 82%;    
}

.anchoColumna11{
    width: 11%;    
}

.anchoColumna60{
    width: 43%;        
}

.anchoColumna28{
    width: 28%;
}

.bordesTabla{
    /* border: 1; */
    /* border-width: 0.1; */
    border-collapse: collapse;
    border-color: #2E2E2E ;
    /* border-color: #ddd; */
}

.nom{
    border: 1;
    /* border-width: 0.1px; */
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-left-width: 0.1px;
    border-right-width: 0.1px;
    border-collapse: collapse;
    border-color: #2E2E2E ;    
    /* border-color: #ddd; */
}

.filasIzq{
    text-align: left;
    font-family: Calibri;
    font-size: 8;
}

.fontBold{
    font-weight: bold;        
}

.fontSize10{
    font-size: 10;    
}

.fontSize11{
    font-size: 11;    
}

.fontSize12{
    font-size: 12;
}

.fontSize13{
    font-size: 12;
}

.fontSize14{
    font-size: 14;    
}

.fontSize15{
    font-size: 15;    
}

.fontSize9{
    font-size: 9;    
}

.fontSize8{
    font-size: 8;    
}

.fontSize7{
    font-size: 7;    
}

.width100{
    width: 100%;
}

.paddingTop{
    padding-top: 4px;    
}

.bordeDer{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0.1px;
}

.sinBorde{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

.bordeDerSinSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0.1px;
}

.bordeIzq{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0px;    
}

.bordeSup{
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

.bordeIzqSinSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeSinInf{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;    
}

.bordeIzqDerSinSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0px;    
}

.bordeFinal{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;          
}

.bordeSinIzqFinalSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeConIzqFinalSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;    
}

.bordeIzqFinalSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordesTablaBody{
    border-style: solid;
    border-color: #2E2E2E ;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;    
}

.bordesTablaFirmasSupIzq{
    border-style: solid;
    border-color: black ;
    border-top-width: 0.6px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0.6px;    
}

.bordesTablaFirmasSupDer{
    border-style: solid;
    border-color: black ;
    border-top-width: 0.6px;
    border-bottom-width: 0px;
    border-right-width: 0.6px;
    border-left-width: 0.6px;    
}

.bordesTablaFirmasInfIzq{
    border-style: solid;
    border-color: black ;
    border-top-width: 0.6px;
    border-bottom-width: 0.6px;
    border-right-width: 0px;
    border-left-width: 0.6px;    
}

.bordesTablaFirmasInfDer{
    border-style: solid;
    border-color: black ;
    border-top-width: 0.6px;
    border-bottom-width: 0.6px;
    border-right-width: 0.6px;
    border-left-width: 0.6px;    
}

.justificadoDer{
    text-align: right;
}

.justificadorCentr{
    text-align: center;
}

.justificadorIzq{
    text-align: left;
}

.paddingTopBot{
    padding-top: 5px;
    padding-bottom: 5px;
}

.paddingTopBotInter{
    padding-top: 2px;
    padding-bottom: 2px;
}

.fontCursiva{
    font-style: italic;
}

.fontNormal{
    font-weight: normal; 
}

.fontBold{
    font-weight: bold;
}

.fontStyleNormal{
    font-style: normal;
}