#header1{
    font-family: Calibri;
    font-size: 14;
    text-align: center;  
    font-weight: bold;    
}

#curvaProcedimiento{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
    margin: 0;
}

#revisiones{
    font-size: 9;
    text-align: right;
}

#contenidoCurva{
    font-family: Calibri;
    font-size: 8.5;    
}

.contenidoBody{
    text-align: center;
    font-family: Calibri;
    /* font-size: 8.5;     */
}

#contenidoCurva p{
    margin: 0;
}

.contenedorPadre12{    
    text-align: center; 
    width: 100%;    
    /*background-color: aqua;*/
}

.contenedorHijo12{
    float: left;
    width: 50%;    
    /*background-color: orange;*/ 
}

.cabeceraStdMuestra{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
}

.bodyStdMuestra{
    font-family: Calibri;
    font-size: 9;
}

.textofecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-align: center;    
}

.fecha{
    font-family: Calibri;
    font-size: 9;    
    text-align: center;
}

/*Tablas*/
.nombreHeader{
    font-family: Calibri;
    /* font-size: 12; */
    text-align: center;
}

#contenedorTabla{    
    max-height: 100px;
}

.tableCabecera{
    text-align: center;
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

.tableContent{
    font-family: Calibri;
    font-size: 9;
    text-align: center;
}

.anchoColumna{
    width: 12.5%;
}

.anchoColumna7{
    width: 7%;    
}

.anchoColumna82{
    width: 82%;    
}

.anchoColumna11{
    width: 11%;    
}

.anchoColumna60{
    width: 60%;    
    background-color: aqua;
}

.bordesTabla{
    /* border: 1; */
    /* border-width: 0.1; */
    border-collapse: collapse;
    border-color: #2E2E2E ;
    /* border-color: #ddd; */
}

.bordesTablaNom{
    border: 1;
    border-width: 0.1;
    border-collapse: collapse;
    border-color: #2E2E2E ;
    /* border-color: #ddd; */
}

.filasIzq{
    text-align: left;
    font-family: Calibri;
    font-size: 8;
}

.fontBold{
    font-weight: bold;    
}

.fontSize11{
    font-size: 11;    
}

.width100{
    width: 100%;
}

.paddingTop{
    padding-top: 5px;    
}

.bordeDer{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0.1px;
}

.bordeDerSinSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0.1px;
}

.bordeIzq{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0px;    
}

.bordeIzqSinSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeFinal{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}