#header1{
    font-family: Calibri;
    font-size: 14;
    text-align: center;  
    font-weight: bold;
}

#curvaProcedimiento{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
    margin: 0;
}

.revisiones{
    font-size: 5;
    text-align: right;
}

#contenidoCurva{
    font-family: Calibri;
    font-size: 8.5;    
}

.contenidoBody{
    text-align: center;
    font-family: Calibri;
    /* font-size: 8.5;     */
}

#contenidoCurva p{
    margin: 0;
}

.contenedorPadre12{    
    text-align: center; 
    width: 100%;    
    /*background-color: aqua;*/
}

.contenedorSubPadre11{    
    text-align: center; 
    width: 60%;
    float: left;       
    /*background-color: aqua;*/
}

.contenedorSubPadre12{    
    /* text-align: right;  */
    width: 40%;      
    float: left;    
    display: flex;
    align-items: right;
    /*background-color: aqua;*/
}

.contenedorHijo12{
    float: left;
    width: 33%;
    /*background-color: orange;*/ 
}

.contenedorHijo13{
    float: left;
    width: 49.877%;    
    /*background-color: orange;*/ 
}

.cabeceraStdMuestra{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold; 
}

.bodyStdMuestra{
    font-family: Calibri;
    font-size: 9;
}

.textofecha{
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
    text-align: center;    
}

.fecha{
    font-family: Calibri;
    font-size: 9;    
    text-align: center;
}

/*Tablas*/
.nombreHeader{
    font-family: Calibri;
    /* font-size: 12; */
    /* text-align: center; */
}

#contenedorTabla{    
    max-height: 100px;
}

.tableCabecera{
    text-align: center;
    font-family: Calibri;
    font-size: 9;
    font-weight: bold;
}

.tableContent{
    font-family: Calibri;
    font-size: 9;
    text-align: center;
}

.tableContentLeft{
    font-family: Calibri;
    font-size: 9;
    text-align: left;
}

.anchoColumna{
    width: 12.5%;
}

.anchoColumna7{
    width: 7%;    
}

.anchoColumna82{
    width: 82%;    
}

.anchoColumna11{
    width: 11%;    
}

.anchoColumna60{
    width: 43%;        
}

.anchoColumna28{
    width: 28%;
}

.bordesTabla{
    /* border: 1; */
    /* border-width: 0.1; */
    /* border-collapse: collapse; */
    border-color: black ;
    /* border-color: #ddd; */
}

.nom{
    border: 1;
    /* border-width: 0.1px; */
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-left-width: 0.1px;
    border-right-width: 0.1px;
    border-collapse: collapse;
    border-color: #2E2E2E ;    
    /* border-color: #ddd; */
}

.filasIzq{
    text-align: left;
    font-family: Calibri;
    font-size: 8;
}

.fontBold{
    font-weight: bold;    
}

.fontNormal{
    font-weight: normal;    
}

.fontSize11{
    font-size: 11;    
}

.fontSize4{
    font-size: 4;      
}

.fontSize5{
    font-size: 5;      
}

.fontSize6{
    font-size: 6;      
}

.fontSize7{
    font-size: 7;      
}

.fontSize727{
    font-size: 7.27px
}

.fontSize8{
    font-size: 8;
}

.fontSize9{
    font-size: 9;    
}

.fontSize12{
    font-size: 12;    
}

.width100{
    width: 100%;
}

.paddingTop{
    padding-top: 4px;    
}

.bordeDer{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0.1px;
}

.bordeDerSinSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0.1px;
}

.bordeIzq{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0px;    
}

.bordeIzqSinSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeIzqDerSinSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0px;    
}

.bordeFinal{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.soloBordeSup{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;    
}

.soloBordeInf{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0px;
    border-left-width: 0px;    
}

.soloBordeIzq{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0.1px;    
}

.soloBordeDer{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeSinIzqFinalSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeSinIzqFinalConSup{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeConIzqFinalSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;    
}

.bordeIzqFinalSup{
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeIzqFinalConSup{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordeSupDer{
    border-style: solid;
    border-top-width: 0.1px;
    border-bottom-width: 0px;
    border-right-width: 0.1px;
    border-left-width: 0px;    
}

.bordesTablaBody{
    border-style: solid;
    border-color: #2E2E2E ;
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;    
}

.bordesTablaFirmasSupIzq{
    border-style: solid;
    border-color: black ;
    border-top-width: 0.6px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0.6px;    
}

.bordesTablaFirmasSupDer{
    border-style: solid;
    border-color: black ;
    border-top-width: 0.6px;
    border-bottom-width: 0px;
    border-right-width: 0.6px;
    border-left-width: 0.6px;    
}

.bordesTablaFirmasInfIzq{
    border-style: solid;
    border-color: black ;
    border-top-width: 0.6px;
    border-bottom-width: 0.6px;
    border-right-width: 0px;
    border-left-width: 0.6px;    
}

.bordesTablaFirmasInfDer{
    border-style: solid;
    border-color: black ;
    border-top-width: 0.6px;
    border-bottom-width: 0.6px;
    border-right-width: 0.6px;
    border-left-width: 0.6px;    
}

.justificadoDer{
    text-align: right;
}

.justificadorCentr{
    text-align: center;
}

.justificadorIzq{
    text-align: left;
}

.paddingTopBot{
    padding-top: 5px;
    padding-bottom: 5px;
}

.paddingTopBotInter{
    padding-top: 2px;
    padding-bottom: 2px;
}

.colorBlanco{
    color: white;
}